h1 {
    color: indigo;
    background-color: hsl(140, 100%, 90%);
    text-align: center;
    text-decoration: hsl(292.73, 100%, 70.29%) underline wavy;
    letter-spacing: 2px;
    font-size: 50px;
    font-weight: 500;
    font-family: "Times New Roman", "Ravie", "Old English Text MT", "Blackadder ITC", "Bauhaus 93", "Algerian", "Century Gothic", "Impact", "Lucida Sans", "Calibri", Verdana, Helvetica;
}

h2 {
    color: rgb(249, 63, 159);
    background-color: rgb(206, 252, 209);
}

p {
    color: white;
    background-color: hsl(277, 41%, 75%);
    text-align: justify;
    /*line-height: 1.5;*/
}

body {
    background-color: rgb(255, 213, 244);
}

a {
    text-decoration: none;
}

/* ID selector */
#password {
    color: white;
    background-color: black;
}

/* Class selector */
.strawberry {
    color: rgb(255, 81, 84);
    font-style: italic;
    font-weight: 600;
}

/* Descendant selector */
p sup {
    color: blue;
    font-weight: 600;
}

/* Direct Child Selector */
footer>a {
    color: rgb(145, 166, 255)
}

/* Attribute selector */
input[type="email"] {
    color: white;
    background: hsl(263, 70%, 12%);
}

label[for="email"] {
    color: hsl(263, 70%, 5%);
}

a[href*="ter"] {
    color: hsl(365, 100%, 47%);
}

/* Adjacent selector 
h1 + p {
    color: red;
}
*/

/*  Universal selector 
*{
    color: blue;
}
*/

/* Pseudo Classes */
input[type="submit"]:hover{
    color: hsl(263, 70%, 12%);
    background-color: hsl(120, 79%, 76%);
}

input[type="submit"]:active{
    color: hsl(120, 79%, 76%);
    background-color: hsl(263, 70%, 12%);
}

nav li:nth-child(even){
    color: hsl(100, 85%, 66%);
}

/* Pseudo Elements */
h2::first-letter {
    font-size: 50px;
}

p::first-line{
    color: hsl(263, 70%, 12%);
}

p::selection{
    color:white;
    background-color: hsl(263, 70%, 12%); ;
}